/* CSS style sheet for Hangman Game - the Fashion Icon Edition */

/* The background image */
body {
   position: relative;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./images/edit2.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.1;
    /*z-index: -1;*/
}

/* Header of the page */
header {
  padding: 20px;
  text-align: center;
  background-color: #dda0dd;
  width: 100%;
  position: relative;
  }

/* Theme of the game */
#theme {
  margin: auto;
}

h2 {
  font-family: 'Lobster Two', cursive;
  font-size: 55px;
}
h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 38px;
}
p {
  font-family: 'BenchNine', sans-serif;
  font-size: 20px;
}
/* Introduction to the game */
#introduction{
  margin: auto;
}

/* Instructions on how to play game */
#instructions {
  margin: auto;
}

/* The Gaming Area */
#gamingarea {
}


/* The footer of the page */
footer {
  padding: 20px;
  text-align: center;
  background-color: #dda0dd;
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  position: ;
  display: block;
  margin: auto;
}
